<main>
  <!-- MAIN BODY -->
  <div class="vertical-center">
    <div class="container" id="primary">
      <div class="row">
        <div class="col-12 text-center">
          <!-- <div data-tilt> -->
          <img id="prof" src="https://res.cloudinary.com/deviti/image/upload/v1672609112/laprof_lvjwlf.jpg" alt="profile picture">
          <h1>hey, i'm <strong>Shemang</strong>.</h1>
          <h3>i build things.</h3>
          <!-- </div> -->

          <!-- <p>
                              						I solve problems with computers.
                              					</p> -->
          </div>
          </div>

      <div class="row" id="button-row">
        <div class="col-md-8 offset-md-2">
          <div class="row">
            <!-- <div class="col-lg-4">
                  							<a class="btn btn-primary" href="#portfolio-header"><i class="fas fa-th-large"></i> &nbsp;Work</a>
                  						</div>
                  						<div class="col-lg-4 text-center">
                  							<a class="btn btn-primary" href="#resume-panel"><i class="fas fa-file"></i> &nbsp;R&eacute;sum&eacute;</a>
                  						</div> -->
            <div class="col-lg-4 text-center">
              <a class="btn btn-primary" href="https://blog.shemangdavid.com"><fa-icon [icon]="['fas', 'blog']"></fa-icon> &nbsp;Blog</a>
            </div>

            <div class="col-lg-4 text-center">
              <a class="btn btn-primary" id="portfolioButton" href="#portfolio"><fa-icon [icon]="['fas', 'newspaper']"></fa-icon> &nbsp;portfolio</a>
            </div>

            <div class="col-lg-4 text-center">
              <button class="btn btn-primary" href="#" data-toggle="modal" data-target="#contactModal"><fa-icon [icon]="['fas', 'envelope']"></fa-icon> &nbsp;contact</button>
            </div>
            </div>
            </div>
            </div>
            <div class="row mt-2" id="social-row">
              <div class="col-md-8 offset-md-2 text-center">
                <h3>
                  <a target="_blank" class="socialLink" href="https://www.github.com/shemzz"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>&nbsp;
                  <a target="_blank" class="socialLink" href="https://stackoverflow.com/users/8258598/shemang-david"><fa-icon
                      [icon]="['fab', 'stack-overflow']"></fa-icon></a>&nbsp;
                  <a target="_blank" class="socialLink" href="https://www.linkedin.com/in/shemang-david-joshua"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>&nbsp;
                  <a target="_blank" class="socialLink" href="https://www.twitter.com/shemang_d"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>&nbsp;
                  <a target="_blank" class="sociallink" href="https://hashnode.com/@shemzz"><fa-icon [icon]="['fab', 'hashnode']"></fa-icon></a>
                </h3>
                <!-- <p>new blog on medium! &#11014;&#65039;</p> -->
                <p>
                  <a target="_blank" href="https://open.spotify.com/playlist/5iuPQlDtXsR1Ccelnw6q94?si=gYh7IYovRAaTBzQYOrrl0A"><fa-icon [icon]="['fab', 'spotify']"></fa-icon>&nbsp;&nbsp;lo-fi hip hop beats to code/relax to</a>
                  <br />
                </p>
              </div>
            </div>
            </div>

  </div>
  <div class="container-fluid" id="portfolio">
    <div class="container">
      <!-- 			<div class="row pt-3 text-center">
      				<div class="col-12">
      					<h3>click for more</h3>
      				</div>
      			</div> -->

      

      <div class="row text-center">

        <div class="col-md-6">
          <a href="https://www.bridgethatgap.org">
            <img class="img-fluid portfolio-img" src="https://res.cloudinary.com/deviti/image/upload/e_blackwhite/v1672609113/bridgethatgap_nnwgok.png">
          </a>
        </div>


        <div class="col-md-6">
          <a href="https://www.favorednations.org/">
            <img class="img-fluid portfolio-img" src="https://res.cloudinary.com/deviti/image/upload/v1672609111/fn_ebbf7r.png">
          </a>
        </div>


      </div>
      <div class="row text-center">

        <div class="col-md-6">
          <a href="https://www.jupmart.com.ng/">
            <img class="img-fluid portfolio-img" src="https://res.cloudinary.com/deviti/image/upload/v1672609112/jupmart_a2csmw.png">
          </a>
        </div>

        <div class="col-md-6">
          <a href="https://www.aftercare.com/text">
            <img class="img-fluid portfolio-img" src="https://res.cloudinary.com/deviti/image/upload/v1672609114/abt-portfolio-txt_ocouxx.png">
          </a>
        </div>

      </div>
      </div>


    </div>
    <!-- CONTACT MODAL -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-label="contactModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title green-bold" id="contactModalTitle">let's connect</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
          <p class="modal-info"><fa-icon [icon]="['fab', 'whatsapp']"></fa-icon> &nbsp;&nbsp;<a
              href="https://wa.me/2349154304889"><code>+2349154304889</code></a></p>
          <p class="modal-info"><fa-icon [icon]="['fas', 'envelope']"></fa-icon> &nbsp;&nbsp;davidshemang@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</main>